<?xml version="1.0"?>
<!--
/**
 *
 * @category	Lrg 
 * @package     Lrg_Customerreviews
 * @author      Luis Rivas <lrivasg.8@gmail.com>
 */
-->
<config>
    <modules>
    	<Lrg_Customerreviews>
            <version>1.0.0</version>
    	</Lrg_Customerreviews>    
    </modules>
    <global>
        <models>
            <customerreviews>
                <class>Lrg_Customerreviews_Model</class>
                <resourceModel>customerreviews_resource</resourceModel>
            </customerreviews>
            <customerreviews_resource>
                <class>Lrg_Customerreviews_Model_Resource</class>
                <entities>
                    <reviews>
                        <table>customerreviews_reviews</table>
                    </reviews>
                    <reminders>
                        <table>customerreviews_reminders</table>
                    </reminders>
                </entities>
            </customerreviews_resource>
        </models>
        <helpers>
            <customerreviews>
                <class>Lrg_Customerreviews_Helper</class>
            </customerreviews>
        </helpers>
        <resources>
            <customerreviews_setup>
                <setup>
                    <module>Lrg_Customerreviews</module>
                    <class>Lrg_Customerreviews_Model_Resource_Setup</class>
                </setup>
            </customerreviews_setup>
            <customerreviews_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customerreviews_write>
            <customerreviews_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customerreviews_read>
        </resources>
        <blocks>
            <customerreviews>
                <class>Lrg_Customerreviews_Block</class>
            </customerreviews>
        </blocks>
        <template>
            <email>
                <customer_reviews_general_settings_email_template>
                    <label>Review reminder</label>
                    <file>lrg_reminderreview.html</file>
                    <type>html</type>
                </customer_reviews_general_settings_email_template>
            </email>
        </template>
        <events>
            <send_reminders>
                <observers>
                    <customerreviews>
                        <type>singleton</type>
                        <class>customerreviews/observer</class>
                        <method>sendReminderReviewNow</method>
                    </customerreviews>
                </observers>
            </send_reminders>
        </events>
    </global>
    <admin>
	<routers>
	  <customerreviews>
	    <use>admin</use>
		<args>
                    <module>Lrg_Customerreviews</module>
                    <frontName>customerreviews</frontName>
		</args>
	  </customerreviews>
	</routers>
    </admin>
    <adminhtml>
        <menu>
            <customerreviews module="customerreviews">
                <title>Customer Reviews</title>
                <sort_order>80</sort_order>
                <children>
                    <reviews module="customerreviews">
                        <title>Manage Reviews</title>
                        <sort_order>10</sort_order>
                        <action>customerreviews/adminhtml_customerreviews</action>
                    </reviews>
                </children>
            </customerreviews>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                  <children>
                        <Lrg_Customerreviews>
                            <title>Reviews</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <customerreviews translate="title">
                                    <title>Manage Reviews</title>
                                    <sort_order>0</sort_order>
                                </customerreviews>
                            </children>
                        </Lrg_Customerreviews>
                  </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <customerreviews>
                    <file>customerreviews.xml</file>
                </customerreviews>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <customerreviews_save_reminderreview>
                        <class>customerreviews/observer</class>
                        <method>addReminderReview</method>
                    </customerreviews_save_reminderreview>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <routers>
            <customerreviews>
                <use>standard</use>
                <args>
                    <module>Lrg_Customerreviews</module>
                    <frontName>reviews</frontName>
                </args>
            </customerreviews>
        </routers>
        <layout>
           <updates>
               <customerreviews>
                   <file>customerreviews.xml</file>
               </customerreviews>
           </updates>
       </layout>
    </frontend>
    <default>
        <customer_reviews>
            <general_settings>
                <enable>1</enable>
                <days>2</days>
                <sender_email_identity>general</sender_email_identity>
                <email_template>customerreviews_general_settings_email_template</email_template>
            </general_settings>
        </customer_reviews>
    </default>
    <crontab>
        <jobs>
            <customerreviews>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>customerreviews/observer::sendReminderReview</model>
                </run>
            </customerreviews>
        </jobs>
    </crontab>
</config>